<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.shardingjdbc.dao.RoleDao">


    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.study.shardingjdbc.entity.Role" useGeneratedKeys="true">
        insert into t_role (name)
        values (#{name,jdbcType=VARCHAR})
    </insert>

    <delete id="delete" parameterType="integer">
        delete from t_role where id = #{id}
    </delete>
</mapper>